/* MESSAGES  - - - - - - - - - - - - - - - - - - - - - */
.contents_c19a55>.messageContent_c19a55 {
    background-color: rgba(255, 255, 255, 0.075);
    width: fit-content;
    margin-left: 0px !important;
    padding-left: 0px !important;
    padding: 14px !important;
    border-radius: 0px 10px 10px 0px;
    box-sizing: content-box;
    max-width: 100%;
    word-wrap:normal;
  }
  
  .groupStart__5126c .messageContent_c19a55 {
    border-radius: 10px 10px 10px 0px;
  }
  .message__5126c, .contents_c19a55 {
    /* position: absolute; */
    max-width: calc(100% - var(--custom-message-margin-left-content-cozy))!important;
    min-width: calc(100% - var(--custom-message-margin-left-content-cozy))!important;
  }
  
  /*
  .reactions__23977 {
    margin-bottom: -12px;
  
    width: 100% !important;

    bottom: -16px;

  
    >div {
      position: relative;
  
      .reaction__23977,
      .reactionBtn__23977 {
        backdrop-filter: blur(16px);
      }
  
      &:nth-child(1) {
        display: none;
      }
  
      &:nth-child(2) {
        transform: rotate(5deg);
        top: -50%;
      }
  
      &:nth-child(3) {
        transform: rotate(-3deg);
      }
  
      &:nth-child(4) {
        transform: rotate(-7deg);
      }
  
      &:nth-child(5) {
        transform: rotate(8deg);
      }
  
      &:nth-child(6) {
        transform: rotate(8deg);
      }
  
      &:nth-child(7) {
        transform: rotate(17deg);
      }
  
      &:nth-child(8) {
        transform: rotate(9deg);
      }
  
      &:nth-child(9) {
        transform: rotate(2deg);
      }
  
      &:nth-child(10) {
        transform: rotate(5deg);
        top: -50%;
      }
  
      &:nth-child(11) {
        transform: rotate(-3deg);
      }
  
      &:nth-child(12) {
        transform: rotate(-7deg);
      }
  
      &:nth-child(13) {
        transform: rotate(8deg);
      }
  
      &:nth-child(14) {
        transform: rotate(8deg);
      }
  
      &:nth-child(15) {
        transform: rotate(-17deg);
      }
  
      &:nth-child(16) {
        transform: rotate(-3deg);
      }
  
      &:nth-child(17) {
        transform: rotate(2deg);
      }
  
      &:nth-child(18) {
        transform: rotate(-3deg);
      }
  
      &:nth-child(19) {
        transform: rotate(-7deg);
      }
  
      &:nth-child(20) {
        transform: rotate(-5deg);
      }
  
      &:nth-child(21) {
        transform: rotate(-1deg);
      }
    }
  }
  */
  .reactionInner__23977[aria-label*=", 1 "] .reactionCount__23977 {
    display: none !important;
  }
  
  
  .messageListItem__5126c[data-is-self="true"] {
    align-items: end;
    align-content: end;
    justify-content: end;
    justify-items: end;
  
    .message__5126c {
      /* padding-left: 100%; */
      padding-right: var(--custom-message-margin-left-content-cozy) !important;
  
      .contents_c19a55 {
        justify-items: end;
      }
  
      .avatar_c19a55 {
        left: auto !important;
        right: var(--custom-message-margin-horizontal);
      }
  
      .avatarDecoration_c19a55 {
        left: auto !important;
        right: calc(var(--custom-message-margin-horizontal) - var(--custom-message-avatar-decoration-size) / 2 + var(--custom-message-avatar-size) / 2);
      }
  
      .contents_c19a55>.messageContent_c19a55 {
        border-radius: 10px 0px 0px 10px;
        background-color: var(--brand-500);
      }
  
      &.groupStart__5126c .messageContent_c19a55 {
        border-radius: 10px 10px 0px 10px;
      }
  
      .container_b7e1cb>* {
        justify-self: end !important;
        align-self: end !important;
      }
  
      .visualMediaItemContainer_f4758a {
        width: auto;
      }
  
      .contents_c19a55 {
        justify-self: end;
      }
  
      &.hasReply_c19a55 {
        padding-top: 22px;
      }
  
      .repliedMessage_c19a55 {
        position: absolute;
        flex-direction: row-reverse;
        top: 0px;
        left: auto !important;
        right: calc(var(--custom-message-margin-horizontal) - var(--custom-message-avatar-decoration-size) / 2 + var(--custom-message-avatar-size) / 2);
        margin-right: calc(var(--chat-avatar-size) * 1.5 + 12px);
        max-width: calc(100% - var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + 32px);
      }
  
      .repliedMessageClickableSpine_c19a55 {
        right: calc(var(--chat-avatar-size) / 2 * -1 + var(--gutter) * -1 - 4px);
        left: 100%;
        border-right: var(--spine-width) solid var(--spine-default);
        border-bottom: 0 solid var(--spine-default);
        border-left: 0 solid var(--spine-default);
        border-top: 2px solid var(--spine-default);
        border-top: var(--spine-width) solid var(--spine-default);
        border-top-right-radius: 6px;
        border-top-left-radius: 0px;
      }
    }
  
    .buttonContainer_c19a55 {
      right: auto;
      left: 0;
  
      .container__040f0 {
        right: auto;
        left: 56px;
      }
    }
    .reactions__23977 {
      align-content: flex-end;
      justify-content: flex-end;
    }
  
  }
